<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piotrek.piotr.oss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Testy.Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Testy.Playing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Testy.Done"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Testy.Score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Testy.StrefaTestu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".strefaNauki"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nauka.Kardio.Kardio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nauka.Kardio.JO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nauka.Kardio.JO1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nauka.Kardio.PTS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.PTS1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.IIITS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.IVTS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.SZA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.SZA1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.NZA"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.SZM"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.SZM1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.NZM"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.ASD"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Kardio.VSD"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.Pulmono"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.JOP"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.JOP1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.ST"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.SP"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.SO"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.RD"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.RG"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.SWy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.SWd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.F"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Nauka.Pulmono.TO"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>